.side-navbar {
    // display: flex;
    // flex-direction: column;
    height: 100%;
    background-color: $bgcnav;
    width: 230px;
    z-index: 1;
    top: 0;
    left: 0;
    grid-area: "navbar";
}

.nav-link {
    display: flex;
    text-transform: none;
    display: block;
    height: 40px;
    padding: o 16px;
    cursor: pointer;
    gap: 16px;
    justify-content: center;
    align-items: center;

    // &.active{
    //     color: $txtselected;
    // }
}

span {
    color: $txtfill;

    &:hover{
        transition: 0.7s;
        color: $txtselected;
    }
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 7px;
}