.side-navbar {
    height: 100%;
    background-color: $bgcnav;
    width: 235px;
    grid-area: navbar;
    grid-row: 1 / -1;
    font-weight: bold;
}

ul {
    list-style-type: none;
    
    a{
        display: flex;
        align-items: center;
        color: $txtfill;
        &:hover{
            color: $txtselected;
        }
    }

    &.nav-bar {
        padding-left: 25px;
        padding-top: 0.75em;
    }
}

svg {
    fill: $txtfill;
}

.fa-solid {
    color: $txtselected;
    font-size: 27px;
    cursor: pointer;
}

.create{
    margin-top: 1.6em;
}

.like{
    margin-top: 0.15em;
    .like-box{
        display: inline-block;
        height: 1.7em;
        width: 1.7em;
        background-image: linear-gradient(rgb(101, 20, 177), rgb(214, 213, 213));
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.nav-link {
    padding-top: 2.4em;
    text-transform: none;
    display: block;
    height: 2.86em;
    cursor: pointer;
    justify-content: center;
    align-items: center;

    &-logo {
        font-size: 25px;

        .logo-img {
            // vertical-align: middle;
            height: 38px;
            width: 38px;
            border-radius: 50%;
            object-fit: cover;
            aspect-ratio: 1/1;
            margin-right: 5px;
        }
    }
}

span {
    color: $txtfill;
    margin-left: 10px;

    &:hover {
        transition: 0.7s;
        color: $txtselected;
    }
}

.icon {
    margin-right: 15px;
    
}