// contains the entire songs from search list

.search-results-header {
    background-color: #181818;
    font-size: rem(12px);
    height: rem(48px);
    margin: 0 rem(-32px) rem(16px);
    padding: 0 rem(32px);
    grid-template-columns: rem(16px) 2fr 2fr 1fr ;
    display: grid;
    align-items: center;

    .number-sign {
        padding: 0 rem(16px);
    }

    .song-title {
        padding-left: rem(32px);
    }

    .song-album {
        display: flex;
        flex-direction: row-reverse;
        padding-right: 55px;
    }

    .song-duration {
        display: flex;
        flex-direction: row-reverse;
        padding-right: rem(40px);
    }
}

// song list definitions
.search-results-song-list {
    display: grid;
    grid-template-rows: repeat(auto-fill, rem(56px));

    .song-list-line {
        display: grid;
        grid-template-columns: rem(16px) 1fr 4fr 2fr 1fr;
        height: rem(56px);
        align-items: center;

        .song-index {
            padding-left: rem(16px);
        }

        .searched-song-img {
            height: rem(40px);
            width: rem(40px);
            aspect-ratio: 1 / 1;
            margin-left: rem(30px);
        }

        .searched-song-title {
            overflow-wrap: break-word;
            word-break: break-word;
        }


        .searched-song-artist {}

        .searched-song-options {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
        }


    }

}

.filter-cards-preview {
    // height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
    gap: rem(24px);

    .filter-card {
        position: relative;
        aspect-ratio: 1 / 1;
        background-color: rgb(66, 62, 62);
        border-radius: rem(8px);
        border: none;
        display: grid;
        overflow: hidden;
    }

    .filter-card::before {
        content: "";
        padding-top: 100%;
        display: block;
        grid-area: 1 / 1 / 2 / 2;
    }

    .card-title {
        font-size: rem(24px);
        padding: rem(16px);
        position: absolute;
        color: #fff;
        overflow-wrap: break-word;
        word-break: break-word;
    }

    .filter-img {

        grid-area: 1 / 1 / 2 / 2;
        position: absolute;
        rotate: z 25deg;
        width: rem(100px);
        left: 47%;
        bottom: -3%;
    }
}