.side-navbar{
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-color: $bgcnav;
    width: 230px;
}

.nav-link{
    text-transform: none;
    display: block;
    gap:5px;
}

span{
    color: $txtfill;
}

.icon{
    width: 16px;
    height: 16px;
    margin-right: 3px;
}