.app-playerS {
    grid-area: "player";
    background-color: red;
    height: 400px;
    bottom: 0;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}


.player-video{
    width: 100px;
}


.icon-player{
    fill: white;
}


.fa.facebook::before {
    content: "\f39e";
}


.song-details {
    background-color: rgb(164, 53, 72);
    justify-content: flex-start;
}

.song-img {
    height: 60px;
    width: 60px;
}


.actions{
    background-color: rgb(172, 37, 59);
}

.volume-controller{
    background-color: rgb(233, 106, 127);
    min-width: 150px;
}

.video-player{
    // opacity: 0;
    // width: 1px;
}