.top-bar-container {
    height: 64px;
    background-color: $bgcmain;
    grid-area: app-header;
    grid-column: 2 / -1;
}

.app-header {
    opacity: 90%;
    display: flex;
    // position: fixed;
    height: 64px;
    width: 100%;
}

.go-btn {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $bgcmain;
    margin-top: 12px;
    box-sizing: unset;
}

button svg {
    height: 17px;
    width: 17px;
    fill: white;
}

svg.search-key {
    fill: black;
    margin-top: 0;
}

.searchInput-container {
    width: 364px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    border-radius: 20px;
    margin-top: 9px;
}

.search-key-icon {
    color: black !important;
}

.search-key-btn {
    background-color: transparent;
    color: black;
    font-size: 20px;
    // transform: scale(-1, 1);
}

.search-key-input {
    font-size: 14px;
    width: 250px;
    background-color: transparent;
    border: 0px solid;
    // font-family: ; need new one
}

// .btn-icon{
//     height: 32px;
//     width: 32px;
//     background-color: $bgcmain;
// }