.top-bar-container{
    height: 64px;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: $bgcmain;
    grid-area: "app-header";
    grid-column: 2 / -1;
}

.app-header {
    display: flex;
    position: fixed;
    gap: 16px;
    height: 64px;
    padding-inline-end: 16px;
    width: 100%;
    
}

.fa-circle-chevron-left{
    height: 45px;
    width: 45px;
    color: black;
    background-color: white;

}

.searchInput-container{
    width: 364px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    border-radius: 20px;
    margin-top: 9px;
}

.search-key-btn{
    background-color: transparent;
    color: black;
    font-size: 20px;
    // transform: scale(-1, 1);
}

.search-key-input{
    font-size: 14px;
    width: 250px;
    background-color: transparent;
    border: 0px solid;
    // font-family: ; need new one
}

.btn-icon{
    height: 32px;
    width: 32px;
    // display: inline;
    background-color: $bgcmain;

}
