.app-playerS {
    grid-area: player;
    background-color: $bgcmain;
    height: 89px;
    bottom: 0;
    justify-content: space-between;
    // position: fixed;
    width: 100%;
}


.icon-player {
    fill: white;
}

.song-details {
    // background-color: rgb(164, 53, 72);
    // justify-content: flex-start;
    align-items: center;
}

.song-img {
    height: rem(60px);
    width: rem(60px);
}


.player-actions-container {
    // background-color: rgb(172, 37, 59);
    align-items: center;
}

.player-actions {
    gap: rem(15px);
    align-items: center;
    justify-content: center;
}

.player-btn-play-pause {
    background-color: transparent;
}

.btn-next {
    transform: scale(-1, 1);
}

.play-pause-btn {
    font-size: rem(32px);
}

.action-btn {
    font-size: 1rem;
    background-color: rgb(18 18 18);
}

.player-range-action {
    width: rem(505px);
    margin-bottom: rem(15px);
}

.btn-action-player {
    background-color: transparent;
}

.volume-controller {
    // background-color: rgb(233, 106, 127);
    min-width: 10.714em;
    // justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: rem(5px);
}

.volume-icon {
    font-size: rem(13.333px);
}

.volume-range {
    width: rem(93px);
}

//player helpers

.range {
    -webkit-appearance: none;
    /* Override default look */
    background: hsla(0, 0%, 100%, .3);
    height: rem(5px);
    cursor: pointer;
    border-radius: rem(1.7px);
}

.range ::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    /* Override default look */
    background: black;
}

.player-video {
    height: 1px;
    opacity: 0;
    width: 20px;
}