.song-search-li {
    grid-template-columns: 0.3fr 1fr 0.2fr;
    justify-content: center;
    align-items: center;
    margin: auto;

    & .add-song-btn {
        height: 25px;
        width: 50px;
        border-radius: 15px;
        color: white;
        background-color: transparent;
        border: 1px solid white;
    }

    & .search-song-img {
        height: 65px;
        width: fit-content;
        margin-left: 36px;
    }
}

.create-station-search-input {

    margin-left: 32px !important;
    border-radius: 6px !important;
    background-color: $bgcplaylistup;
    margin-bottom: 50px;
    
    .search-key-input{
        outline: transparent;
    }
}