.home-stations-container {

    .first-station-cards {
        padding: rem(14px) rem(0px);
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, minmax(240px, 1fr));
        grid-gap: rem(16px) rem(57px);
    }
    
    
    .first-station-card {
        height: rem(80px);
        width: rem(340px);
        cursor: pointer;
        display: flex;
        align-items: center;
        text-align: center;
        border-radius: rem(4px);
        border: 0;
        background-color: $bgcplaylistup;
        
        &:hover {
            background-color: ligthen($bgcplaylistup, 20%);
        }
    }
    
    .song-img {
        margin-right: rem(15px);
        width: rem(80px);
        height: rem(80px);
        border-radius: 5% 0% 0% 5%;
        object-fit: cover;
        aspect-ratio: 1/1;
    }

    h3 {
        margin-top: rem(10px);
        display: inline-block;
        line-height: rem(10px);
    }

    h2 {
        display: inline-block;
        color: $txtselected;
        font-size: rem(24px);
        margin-bottom: rem(26px);
    }

    .second-station-container{
        margin-top: 27px;
    }

    .second-station-cards {
        display: flex;
        flex-wrap: wrap;
        gap: rem(23px);
        flex-direction: row;
    }

    .second-station-card {
        margin-bottom: rem(35px);
        background-color: $bgcplaylistdown;
        border-radius: rem(5px);
        height: rem(284px);
        width: rem(195px);


         &:hover{
            background-color: $bgcplaylistup;
            transition: background-color 0.7s;
         }

        .song-card-img {
            padding: 15px;
            height: rem(192px);
            width: rem(192px);
            object-fit: cover;
            aspect-ratio: 1/1;
            border-radius: 21px;
        }

        h3{
            padding-left:1.21em;
        }

        
    }

}