.stations-cards{
    padding: 5px;
    margin: auto;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, minmax(242px, 1fr));
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(155px, 1fr))
    
    
}

.station-card{
    // max-height: 220px;
    // max-width: 220px;

    border: 1px white solid;
}