.song-list-container {
    background-color: black;

    &.header-song-list {
        grid-template-columns: 3fr 20fr 5fr 5fr 7.5fr;

    }

    & ul {
        padding: 0px;
    }
}

.header-song-list {
    grid-template-columns: 3fr 20fr 5fr 5fr 7.5fr;
}

.song-list-li {
    grid-template-columns: 3fr 20fr 5fr 5fr 7.5fr;

}

.song-list-img{
    width: rem(40px);
    height: rem(40px);
}





.btn-song-title-play {
    all: unset;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}