.song-list-container {
    margin-top: 32px;
    padding-left: 43px;
    background-color: transparent;
    // background-color: black; 
    // z-index: 1;
    // background-image: linear-gradient(rgb(12, 11, 11),black);


    // &.header-song-list {
    //     // grid-template-columns: 3fr 20fr 5fr 5fr 7.5fr;

    //     font-size: calc(13px);
    //     grid-template-columns: 1fr 15fr 9fr 5fr 1fr 5.5fr 1fr;
    //     margin-top: 22px;
    // }

    & ul {
        padding: 0px;
    }

    & .song-details {
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    & .song-action {
        background-color: transparent;

        width: 50px;
        height: 50px;
        align-items: center;

        // opacity: 0;
        &:hover {
            font-weight: bold;
        }
    }

    .song-list-li {
        margin-top: 27px;
        grid-template-columns: 1fr 15fr 9fr 5fr 1fr 5.5fr 1fr;

        color: $txtfill
    }

}

song-list-li:hover {
    opacity: 1; //not working

    &.song-action {
        color: white;
        fill: white;
    }

}

.song-liked-svg {
    fill: $bgcplay;
}

.song-remove-icon {
    fill: $bgcplay;
    font-size: 17px;
}

.header-song-list {
    grid-template-columns: 1fr 15fr 9fr 5fr 1fr 5.5fr 1fr;
    height: 30px;
    margin-top: 19px;
    font-size: 13px;
}


.song-list-duration {
    margin-top: 13px;
}


.song-list-add-date {
    margin-left: 14px;
    margin-top: 13px;
}

.song-details {
    display: flex;
    align-items: center;
    gap: 0px 15px;

    .song-list-img {
        width: rem(40px);
        height: rem(40px);
        margin-top: 5px;

    }

    .song-info {
        display: flex;
        flex-direction: column;

    }

    .btn-song-title-play {
        all: unset;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .song-list-artist {
        margin-top: -10px;
    }


}