.song-list-container {
    background-color: rgb(92, 73, 77);

    &.header-song-list {
        grid-template-columns: 3fr 20fr 5fr 5fr 7.5fr;

    }

    & ul {
        padding: 0px;
    }
}

.song-list-li {
    grid-template-columns: 3fr 20fr 5fr 5fr 7.5fr;

}

.header-song-list {
    grid-template-columns: 3fr 20fr 5fr 5fr 7.5fr;
}



.btn-song-title-play {
    all: unset;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}