* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    // background: rgba(190, 47, 47, 0);
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff00;
}

::-webkit-scrollbar-thumb:active {
    background-color: #c7c4c4;
    
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b3b3b3;
}

::selection {
    background-color: $bgcnav;
    color: $txtfill;
}

html {
    font-family: $txtf;
    line-height: 1.6;
    color: $txtselected;
}

body {
    margin: 0;
    font-size: rem(14px);
    font-family: $txtf;
    // margin: auto;
    background-color: $bgcmain;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.6em;
    line-height: 0.7;
}


section,
main,
footer {
    // padding: 5px;
}

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}

// a:hover {
//     text-decoration: underline;
// }