.main-layout {
    height: 100vh;
    display: grid;
    padding-left: 0;
    margin: 0;
    grid-template-areas:
    "navbar app-header"
    "navbar main"
    "player player";
    grid-template-columns: 247px minmax(300px, 1fr);
    // grid-template-columns: 1fr 4fr;
    grid-template-rows: rem(64px) 1fr auto;
    // grid-template-rows: auto 1fr auto;
    max-width: 100%;
    overflow-y: hidden; 
    
    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }


    @include for-narrow-layout {
        grid-template-areas: 
        "navbar app-header"
        "navbar main"
        "player player";
            // minmax(20px, 1fr)
            // minmax(auto, $mobile-breakpoint)
            // minmax(20px, 1fr);
    }
    @include for-normal-layout {
        grid-template-areas: 
        "navbar app-header"
        "navbar main"
        "player player";
        // minmax(20px, 1fr)
        // minmax(auto, $narrow-breakpoint)
        // minmax(20px, 1fr);
    }
    @include for-wide-layout {
        grid-template-areas: 
        "navbar app-header"
        "navbar main"
        "player player";
        // minmax(20px, 1fr)
        // minmax(auto, $normal-breakpoint)
        // minmax(20px, 1fr);
    }    

    // hold everything related to the search page
    .main-search-container {
        padding-top: rem(7px);
        padding-left: rem(32px);
        padding-right: rem(16px);
        display: grid;
        grid-area: main;
    
        h2 {
            margin-bottom: rem(30px);
            color: rgb(255, 255, 255);
            margin-top: rem(8px);
            font-weight: 700;
            // grid-column: 1 / -1;
        }
    
    }

}

// .card-grid {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
//     grid-gap: 20px;
// }

