.review-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    li {
        background-color: $bgcmain;
        color: $txtfill;
        padding: 5px;
        margin: 5px;
    }
    a {
        color: $txtselected;
        padding: 10px;
    }    
    h3 {
        background-color: #ddd;
        padding: 10px 5px;
        margin: 5px;
    }    
}



