// Colors

// Nav-bar 
$bgcnav: #000000;
$bgcmain: #121212;

// Text
$txtfill: #b3b3b3; //main fill
$txtselected: #ffffff; //selected page in navbar


//player
$bgcplay: #1ed760;

//playlist-goodmorning
// $bgc4: #000000, opacity 70.0%
$bgcplaylistup: #b3b3b340;

//playlist-grid
$bgcplaylistdown: #282828;

//footer-player
$bgcplayer: #181818;

//font
$txtf: 'Montserrat', sans-serif;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;